*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
.iphone{
    width: 325px;
    height: 620px;
    border-radius: 50px;
    border: 1px solid black;
    border: 12px solid black;
    overflow: hidden;
    margin-top:100px ;
    background: url(./iphone\ image.jpg)no-repeat center/cover

}
.dinamik{
    width:90px;
    height: 25px;
    background: black;
    border-radius: 12px;
    margin: 10px 105px;
    display: flex;
    align-items: center ;
    justify-content: space-around;
}
.box{
    width: 15px;
    height: 15px;
    background: rgba(46, 46, 46, 0.819);
    border-radius: 50%;
    margin-left: 50px;
}
b{
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}